body {
    margin: 8px;
}

ul.forever-ul {
    margin: 0;
    padding: 0;
}

dd>ul.forever-ul {
    display: inline-block;
}

ul.forever-ul>li {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
}

.query-ind {
    font-family: monospace;
}

.query-h1 {
    font-size: 16pt;
}

.viewer-img {
    display: block;
    max-height: calc(100vh - 120px);
    max-width: calc(100vw - 16px);
}

.query-info {
    margin-bottom: 30px;
}

.query-info-item {
    padding-right: 20px
}

.tag-cloud a {
    font-size: 12pt;
}

.text-align--center {
    text-align: center;
}

#search-tag-auto-complete {
    max-width: calc(100vw - 16px);
}

#search-tag-auto-complete>a {
    color: orangered;
    margin-right: 15px;
    display: inline-block;
}